USE [QLHVTTT1]
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_COURSE]    Script Date: 2025/01/15 9:40:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_DELETE_COURSE]
(
    @MaKH VARCHAR(4)
)
AS
BEGIN
    DELETE FROM KHOAHOC
    WHERE MaKH = @MaKH
END
