USE [DEV_ACADEMY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_INSERT_CLASS]
    @SubjectID VARCHAR(10),
    @ClassName VARCHAR(50),
    @StartTime DATETIME,
    @EndTime DATETIME,
    @Room VARCHAR(10),
    @TeacherID VARCHAR(10) = null,
    @MaxSeats INT = NULL,
    @DaysOfWeek VARCHAR(20) = NULL
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO CLASS 
        (ClassID, SubjectID, ClassName, StartTime, EndTime, Room, TeacherID, MaxSeats, DaysOfWeek)
        VALUES 
        (NEWID(), @SubjectID, @ClassName, @StartTime, @EndTime, @Room, @TeacherID, @MaxSeats, @DaysOfWeek);

        COMMIT TRANSACTION;
        RETURN 1;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
        RETURN 0;
    END CATCH;
END
select * from CLASS
