USE [DEV_ACADEMY]
GO
/****** Object:  StoredProcedure [dbo].[SP_SELECT_MESSAGE]    Script Date: 03/08/2025 01:40:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create or ALTER   PROCEDURE [dbo].[SP_SELECT_MESSAGE]
    @SenderID varchar(10),
    @ReceiverID varchar(10)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT 
            [MessageID],
            [SenderID],
            [ReceiverID],
            [MessageContent],
            [SentDateTime]
        FROM [DEV_ACADEMY].[dbo].[Messages]
        WHERE 
            ([SenderID] = @SenderID AND [ReceiverID] = @ReceiverID)
            OR ([SenderID] = @ReceiverID AND [ReceiverID] = @SenderID)
        ORDER BY [SentDateTime] ASC;
    END TRY
    BEGIN CATCH
        -- Xử lý lỗi nếu có
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
