USE [HELLO_ACADEMY]
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_EMPLOYEE]    Script Date: 19/06/2025 16:30:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 34. SP_UPDATE_EMPLOYEE
ALTER PROCEDURE [dbo].[SP_UPDATE_EMPLOYEE]
    @EmployeeID VARCHAR(10),
    @FullName NVARCHAR(100),
    @PhoneNumber VARCHAR(15),
    @Email VARCHAR(50),
    @Position NVARCHAR(50),
    @Username VARCHAR(20) = NULL,
    @Password VARCHAR(20) = NULL
AS
BEGIN
    BEGIN TRANSACTION;

    IF @Username IS NOT NULL OR @Password IS NOT NULL
    BEGIN
        UPDATE ACCOUNT
        SET Password = @Password
        WHERE Username = @Username;
    END

    UPDATE EMPLOYEE
    SET FullName = @FullName, 
        PhoneNumber = @PhoneNumber, 
        Email = @Email, 
        Position = @Position
    WHERE EmployeeID = @EmployeeID;

    IF @@ERROR <> 0
        ROLLBACK;
    ELSE
        COMMIT;
END
